/* Add Sidebar Border radious */
body .logo-box.r-rounded{border-top-right-radius: 15px;}
body .left-side-menu.r-rounded{border-bottom-right-radius: 15px;}
body[data-sidebar-color=primary] .logo-box{background-color: var(--primary-color);border-right:1px solid var(--primary-color)!important;}
body[data-sidebar-color=primary] .left-side-menu{background-color: var(--primary-color);border-right:1px solid var(--primary-color)!important;background-image:url('../images/bg-sidebar.svg');background-size: cover;background-repeat: no-repeat;}
body[data-sidebar-size=default] .left-side-menu{padding-top: 0;}
@media (max-width:991.98px){
    body[data-topbar-color=light] .logo-box.r-rounded{border-top-right-radius: 0px;}
}
#sidebar-menu .menuitem-active .active{color: #b7c7e7;background-color: #4d6cae;}
#sidebar-menu>ul>li>a{color: #b7c7e7;font-size: 0.9rem;font-weight: 100;}
.header-title{text-transform: none;}
.text-gray{color: #6c757d;}
.sub-header{margin-bottom: 15px;}
.logo-bg{display: flex; justify-content: center; align-content: center; margin: 6px 0px; background-color: #ffffff; padding: 3px 5px; border-radius: 2px;}

/* Table Brand & History */
.table-brand td{padding: .25rem .85rem;vertical-align: middle;font-size: 0.75rem;}
.table-brand th{font-size: 0.8rem;}
.table-history{width: 100%;}
.tableFixHead{overflow: auto;height: calc(25vh);margin-bottom: 1rem;border-bottom: 1px solid #e2e7f1;}
.tableFixHead .table-history thead th {position: sticky;top: -1px;z-index: 1;}
.tableFixHead2{overflow: auto;max-height: calc(50vh);margin-bottom: 1rem;border-bottom: 1px solid #e2e7f1;}
.tableFixHead2 .table-history thead th {position: sticky;top: -1px;z-index: 1;}
.btn-xsm {padding: 0.2rem 0.4rem;font-size: .6rem;border-radius: 0.2rem;}
.btn-disabled{pointer-events: none;opacity: .35;cursor: not-allowed !important;}

/* Just common table stuff. Really. */
table.table-history  {border-collapse: collapse;width: 100%;margin-bottom: 1px;}
.table-history th, td { padding: 8px 16px; }
.table-history th{ background:#f2f2f2; }
.table-history th{padding: .25rem .85rem;vertical-align: middle;}
.table-history td{padding: .25rem .85rem;vertical-align: middle;}

.brand-actions{display: flex;justify-content: flex-end;padding: 0.25rem;}

/* Form group */
.form-group{margin-bottom: 0.7rem;}
.form-group label{color:#6c757d;margin-bottom: 0.2rem;}
.form-group input{height: 40px;}
.form-group input[type=radio]{height: 1rem;}

/* Select 2 */
.select2-container .select2-selection--multiple{min-height: 45px;overflow: auto;max-height: 110px;}
.select2-selection__rendered{margin-bottom: 0.15rem !important;}
.select2-container--default .select2-results__option--selected{display: none;} /*hide selected values*/

.pie-row .col-lg-2{flex: 0 0 auto;width: 20%;}
.table-condensed th, .table-condensed td{padding:2px 8px !important;}

.left-side-menu{max-height: calc(100vh - var(--header-height)) !important;position: fixed !important;}
.right-bar{width: 550px;right:-560px;}
.data-dict-set hr{margin: 0.5rem 0;}
.card-pointer{cursor: pointer;}

.animate-pulse-send {
    border: 1px #96a3f7 solid;
    animation: blink 2s infinite;
    background-color: #f3f3f3;
}
@keyframes blink { 50% { border-color:#5369f8; }  }

.card-social{}
.card-social h4{color:#ffffff;display: flex;justify-content: space-between;font-size: 18px;margin: 5px 5px;}
.card-facebook{background: rgb(77,108,174);background: linear-gradient(90deg, rgba(77,108,174,1) 0%, rgba(77,108,174,1) 35%, rgba(150,176,233,1) 100%);}
.card-instagram{background: #d6249f;background: radial-gradient(circle at 30% 107%, #fdf497 1%, #fd5949 45%,#d6249f 60%,#285AEB 90%);}
.card-youtube{background:#c4302b ;background-image: linear-gradient(to right, #c4302b, #d04841, #dc5e57, #e6736e, #ef8884);}
.card-twitter{background: #1da1f2;background-image: linear-gradient(to right, #1da1f2, #4caff4, #6bbdf5, #88caf6, #a3d7f8);}
.card-table th,.card-table td{padding: .25rem .5rem;font-size: 15px;}

/* Top 10 overall */
#top10Overall-datatable{font-size: 12px;margin-bottom: 5px;}
#top10Overall-datatable th{padding: .35rem .5rem;}
#top10Overall-datatable td{padding: 0.25rem 0rem;}
#top10Overall-datatable td:first-child{ vertical-align: middle;}
#top10Overall-datatable td .twoRowData{padding: 0;display: flex;flex-direction: column;}
#top10Overall-datatable td .twoRowData .tdfirstVal{padding: 0.15rem 0.5rem 0;}
#top10Overall-datatable td .twoRowData .tdsecVal{padding: 0.15rem 0.5rem 0;border-top: 1px solid #ddd;color:#777777;}
table#top10Overall-datatable.dataTable.dtr-inline.collapsed.compact>tbody>tr>td.dtr-control, table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th.dtr-control{
    padding: .25rem .5rem; padding-left: 27px;}
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before{background-color: #234fa7;}
.table-dark-heading { background-color: #768ccb; color: #ffffff;vertical-align: middle !important;font-size: 13px;}
.table-bordered>:not(caption)>*>*{border-width: 1px 1px 0 !important;}
table.dataTable.dtr-inline.collapsed.table-sm>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed.table-sm>tbody>tr>th:first-child:before{top:50% !important;}
/* Card top 10 */
.card-top10{}
.card-top10 ul{padding-left: 10px;font-size: 13px;}
.card-top10 ul li{display: flex;flex-direction: row;justify-content: space-between;margin-bottom: 5px;}
.card-top10 ul li span{padding-left: 5px;min-width: 50px;}
.card-top10 .btn-link{margin: 0; padding: 0;position: absolute;right: 10px;}